html {
    scroll-behavior: smooth;
}
body {
    line-height: 1.6;
    margin: 0;
    font-size: 20px;
    text-wrap: pretty;
    background-color: #eee;
}
.logo {
    height: 50px;
    transform: translateY(-2px);
}
.hero {
    height: 100vh;
    background-image: linear-gradient(#000000c4),url('img/background-hero.jpg');
    background-size: cover;
    color: #fff;
 }
 .wrapper {
    max-width: 1000px;
    padding-inline: 2rem;
    margin-inline: auto;
 }
 .section-table table{
    margin: 0 auto;
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
    text-wrap: balance;
 }
  .section-table table th {
    width: 50px;
 }
 .section-table table td,th {
    border: 1px solid #000;
    padding: 20px 30px;
    width: 300px;
 }
.hero .text-box {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%,-50%);

}
.heading-primary {
    font-size: 90px;
    margin-left: 5px;
    margin-bottom: 1em;
    border-radius: 100px;
}
h2 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 0, 0.299);
}
.img-box{
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
}
img {
    width: 100%;
    border-radius: 10px;

}
h3 {
    font-size: 30px;
    display: inline-block;
    border-bottom: 2px solid green;
}
section {
    padding-block: 2.5rem;
}
a:link,a:visited {
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}
a:hover,a:active {
    color: #333;
    border-bottom: 1px solid green;
}
btn:link {
    background-color: rgba(255, 255, 0, 0.345);
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;

}